* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
    background-color: #fafafa;
}
.landlord-btn{
    border-radius: 50px;
}

.images {
    width: 100%;
    height: 907px;
    background: url('img/details1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    padding-top: 72px;
}
.img-show{
    width: 80%;
    margin: 0 10%;
    z-index: 2;
}
.img-show svg{
    z-index: 3;
}

.img-show #left-arrow{
    position: absolute;
    left: 10%;
    top:439px;
}

.img-show #right-arrow{
    position: absolute;
    right:10%;
    top: 439px;
}

.img-show .btns-div{
    position: absolute;
    display: flex;
    top: 712px;
    left: 10%;
    border-radius: 50px;
    gap: 10px;
    padding: 8px 29px 5px 29px;
    background-color: #FFFFFF94;
    font-size: 20px;
    font-weight: 400;
}
.img-show .btns-div span{text-align: center; margin-top: 5px;}

.img-show #wishlist-btn{
    left: 10%;
    width: 244px;
    height: 56px;

}
.img-show #wishlist-btn span{
    width: 140px;
    height: 32px;

}



.img-show #save-btn{
    left: 25%;
    width: 234px;
    height: 56px;

}
.img-show #share-btn{
    display: flex;
    justify-content: space-between;
    width: 181px;
    height: 56px;
    left: 40%;
}

.img-show #share-btn span{ width: 52px; height: 32px;}

.img-show .owner{
    background-color: #FFFFFF;
    width: 418px;
    height: 366px;
    border-radius: 15px;
    z-index: 3;
    position: absolute;
    top: 608px;
    left: 60%;
    box-shadow: 0 4px 4px 0 #00000040;
}

.img-show .owner .owner-top img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.img-show .owner .owner-top{
    display: flex;
    justify-content: left;
    position:relative;
    top: 29px;
    left: 12%;
}
.img-show .owner .owner-top .text{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    font-size: 20px;
    position: relative;
    top:8px;
    left: 5%;


}

.img-show .owner .owner-top .text p{
    width: 125px;
    height: 32px;
    font-weight: 400;
    color: #00000099;
}
.img-show .owner .owner-top .text span{
    width: 48px;
    height: 32px;
    font-weight: 700;
    color: #000000;

}

.img-show .owner .owner-middle{
    display: flex;
    justify-content: left;
    position: relative;
    top: 75px;
    left: 15%;
    gap: 31px;
    width: 293px;
    /* margin-bottom: 100px; */
}

.img-show .owner .owner-bottom{
    position: relative;
    top: 120px;
    left: 12%;
    width: 318px;
    height: 64px;


}
.img-show .owner .owner-bottom button{
    width: 318px;
    height: 64px;
    border-radius: 8px;
    padding: 12px 113px 12px 113px;
    background-color: #FF5A30;
    border-color: #FF5A30;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
}

.description{
    margin-left: 10%;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 1140px;
    margin-bottom: 100px;
}

.description  .head{
    width: 710px;
    height: 61px;
    position: absolute;
    top:943px;
    left: 10%;
    text-align: left;
    font-size: 38px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 160%;
    color: #FF5A30;
}

.description  .stars-complain{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1010px;
    left: 10%;
    width: 80%;
}
.description  .stars-complain .complain{
    position: relative;
    top: 2px;
    left: 10%;
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.description  .stars-complain .complain span{
    position:relative ;
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    border-bottom: 2px solid #222222;
}
.description  .desc-price{
    position: absolute;
    top: 1077px;
    width: 618px;
    height: 32px;
    gap: 6px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.description  .desc-price span{
    font-size: 20px;
    font-weight: 500;
    width: 581px;
    height: 32px;
    line-height: 160%;
    text-align: left;
}
.description  .desc-loc{
    position: absolute;
    top: 1122px;
    left: 9.75%;
    width: 346px;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.description  .desc-loc span{
    width: 305px;
    height: 32px;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
}

.description  .desc-features{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 1175px;
}
.description  .desc-features .features{
    display: inline-block;
    color: #000000;
    border-radius: 50px;
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    height: 44px;
    vertical-align: middle;

}
.description  .desc-features #room-type{width: 160px;}
.description  .desc-features #bed-area{width: 184px;}
.description  .desc-features #property{width: 184px;}
.description  .desc-features #furnished{width: 132px;}
.description  .desc-features #numperson{width: 157px;}

.description  .descofapartment{
    position: absolute;
    top: 1257px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.description  .descofapartment .desc-head{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    width: 167px;
    height: 48px;
    vertical-align: middle;
    line-height: 160%;
}
.description  .descofapartment .desc-text{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    height: 128px;
    vertical-align: middle;
    line-height: 160%;
    color: #00000094;
}

.facilities{
    position: absolute;
    top: 1472px;
}


.description  .facilities .fac-head{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    width: 342px;
    height: 48px;
    vertical-align: middle;
    line-height: 160%;
}

ul.fac-list {
    position: relative;
    top: 20px;
    left: -1%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: start;
}
ul.fac-list li{margin-right: 60px;}
ul.fac-list span{
    font-size: 20px;
    font-weight: 500;
    color: #00000094;
    line-height: 160%;
}
ul.fac-list li.checkmark{
    display: flex;
    height: 40px;
    gap: 3px;
    align-items: center;
}

ul.fac-list li.x{
    display: flex;
    align-items: center;
    position: relative;
    left: 3%;
    height: 32px;
    gap: 13px;
}
  

.rules-pref{
    position: absolute;
    top: 1758px
}

.description .rules-pref .rule-head{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    width: 318px;
    height: 48px;
    vertical-align: middle;
    line-height: 160%;
}

.rules-pref ul.rule-list{
    position: relative;
    top: 20px;
    left: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-items: start;

}

.rules-pref ul.rule-list li{
    font-size: 20px;
    font-weight: 500;
    height: 32px;
    padding-left: 23px;
    vertical-align: middle;
    color: #00000094;

}

.rules-pref ul.rule-list li::marker{color: #222222;}

.documents-desc{
    width: 100%;
    height: 664px;
    position: absolute;
    top: 1991px;
    left: -1px;
    padding: 84px 10% 84px 10%;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 25px 0 #00000040;
}
.documents-desc .documents{
    display: flex;
    width: 100%;
    height: 496px;
    padding-right: 60px;
    gap: 60px;
    
}
.documents-desc .documents .doc-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.doc-left #doc-text{
    display: flex;
    position: relative;
    top: -17px;
    width: 528px;
    height: 130px;
    line-height: 45px;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
    align-items: center;
    color: #000000;
    letter-spacing: -0.72px;
}

.doc-left .doc-btn{
    width: 485px;
    height: 148px;
    border-radius: 50px;
    padding: 17px 38px 17px 38px;
    gap: 11px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 4px 4px 25px 0 #00000040;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.doc-left #doc-btn1{
    position: relative;
    top: 10px;
}

.doc-left #doc-btn2{position: relative; top: 50px;}

.doc-btn .docbtn-t1{
    font-size: 25px;
    font-weight: 800;
    line-height: 45px;
    vertical-align: middle;
    text-align: left;
    letter-spacing: -0.72px;
    color: #000000;
}
.doc-btn .docbtn-t2{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    color: #000000;
}

.doc-right figure {
    position: relative;
    display: inline-block;
    width: 482px;
    height: 482px;
    background-color: #FF5A30;
    position: relative;
    top: -7.02px;
    left: 7.02px;
    z-index: 1;
  
  }

 .doc-right img {
    display: block;
    position: absolute;
    z-index: 2; 
  }

  .location-desc{
    position: absolute;
    top: 2709px;
    /* left: 10%; */
    width: 100%;
    height: 800px;
    padding:0 10%;

  }

  .location-desc div{width: 80%;}
  .location-desc div #loc-text{
    font-size: 35px;
    font-weight: 700;
    line-height: 160%;
    vertical-align: middle;
    text-align: left;

  }

  .location-desc .loc-img{
    display: flex;
    position: relative;
    top: 55px;
    left: 0;
  }
  .loc-img img{ display: block; max-width: 150%; height: auto;}

  .availability{
    position: absolute;
    top: 3558px;
    width: 100%;
    height: 752px;
    background-color: #2222221A;
    padding: 0 10%;
  }

  .availability .available-t{
    position: absolute;
    top: 48px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 160%;
    vertical-align: middle;
    color: #000000;
  }
  .availability div{
    position: absolute;
    top: 132px;
    height: 70px;
    width: 653.33px;
    gap: 4px;
    align-items: left;
  }

  .availability div .time-text{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    vertical-align: middle;
    text-align: left;
    color: #222222;
  }
  .availability div .date-text{
    width: 100%;
    font-size: 13.56px;
    font-weight: 400;
    line-height: 18px;
    vertical-align: middle;
    text-align: left;
    color: #6A6A6A;
  }


.sim-places{
    position: absolute;
    top: 4340px;
}