* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fafafa;
}
.left-nav{margin-left: 3%;}
.logo2 img{
    display: inline-block;
    top: -109px;
}
.landlord-btn{
    border-radius: 50px;
}

.images {
    width: 100%;
    height: 907px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    padding-top: 72px;
}

.img-show{
    width: 80%;
    z-index: 2;
    display: flex;
}
.images .img-slide{
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: -1;
}
.img-slide .apartment-images{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}
.img-show svg{
    z-index: 3;
}

.img-show #left-arrow{
    position: absolute;
    left: 10%;
    top:439px;
}

.img-show #right-arrow{
    position: absolute;
    right:10%;
    top: 439px;
}

.img-show .btns-div{
    position: absolute;
    display: flex;
    top: 752px;
    left: 10%;
    border-radius: 50px;
    padding: 5px 29px 5px 29px;
    gap: 5px;
    background-color: #FFFFFF94;
    border-color: transparent;
    font-size: 20px;
    font-weight: 400;
    margin-right: 20%;
}
.img-show .btns-div a{text-align: center; margin-top: 8px; text-decoration: none; color: #000000;}

.img-show #wishlist-btn{
    left: 10%;
    width: 15%;
    height: 56px;

}
.img-show #wishlist-btn a{
    width: 75%;
    height: 32px;

}



.img-show #save-btn{
    margin-left: 16.5%;
    width: 14%;
    height: 56px;

}
.img-show #save-btn a{
    width: 70%;
    height: 32px;
}
.img-show #share-btn svg{
    margin-top: 5px;
}
.img-show #share-btn{
    display: flex;
    gap: 20px;
    width: 10%;
    height: 56px;
    margin-left: 32%;
}
.img-show #share-btn a{
    width: 40%;
    height: 32px;
}
.img-show #share-btn span{ width: 52px; height: 32px;}

.img-show .owner{
    background-color: #FFFFFF;
    width: 418px;
    height: 366px;
    border-radius: 15px;
    z-index: 3;
    position: absolute;
    top: 608px;
    left: 60%;
    box-shadow: 0 4px 4px 0 #00000040;
}

.img-show .owner .owner-top img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.img-show .owner .owner-top{
    display: flex;
    justify-content: left;
    position:relative;
    top: 29px;
    left: 12%;
}
.img-show .owner .owner-top .text{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    font-size: 20px;
    position: relative;
    top:8px;
    left: 5%;


}

.img-show .owner .owner-top .text p{
    width: 125px;
    height: 32px;
    font-weight: 400;
    color: #00000099;
}
.img-show .owner .owner-top .text span{
    width: 48px;
    height: 32px;
    font-weight: 700;
    color: #000000;

}

.img-show .owner .owner-middle{
    display: flex;
    justify-content: left;
    position: relative;
    top: 75px;
    left: 15%;
    gap: 31px;
    width: 293px;
    /* margin-bottom: 100px; */
}

.img-show .owner .owner-bottom{
    position: relative;
    top: 120px;
    left: 12%;
    width: 318px;
    height: 64px;


}
.img-show .owner .owner-bottom button{
    width: 318px;
    height: 64px;
    border-radius: 8px;
    padding: 12px 113px 12px 113px;
    background-color: #FF5A30;
    border-color: #FF5A30;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
}

.description{
    margin-left: 10%;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 1140px;
    margin-bottom: 100px;
}

.description  .head{
    width: 710px;
    height: 61px;
    position: absolute;
    top:943px;
    left: 10%;
    text-align: left;
    font-size: 38px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 160%;
    color: #FF5A30;
}

.description  .stars-complain{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1010px;
    left: 10%;
    width: 80%;
}
.description  .stars-complain .complain{
    position: relative;
    top: 2px;
    left: 10%;
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.description  .stars-complain .complain span{
    position:relative ;
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    border-bottom: 2px solid #222222;
}
.description  .desc-price{
    position: absolute;
    top: 1077px;
    width: 618px;
    height: 32px;
    gap: 6px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.description  .desc-price span{
    font-size: 20px;
    font-weight: 500;
    width: 581px;
    height: 32px;
    line-height: 160%;
    text-align: left;
}
.description  .desc-loc{
    position: absolute;
    top: 1122px;
    left: 9.75%;
    width: 346px;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.description  .desc-loc span{
    width: 305px;
    height: 32px;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
}

.description  .desc-features{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 1175px;
}
.description  .desc-features .features{
    display: inline-block;
    color: #000000;
    border-radius: 50px;
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    height: 44px;
    padding-top: 3px;
    /* vertical-align: middle; */

}
.description  .desc-features #room-type{width: 160px;}
.description  .desc-features #bed-area{width: 184px;}
.description  .desc-features #property{width: 184px;}
.description  .desc-features #furnished{width: 132px;}
.description  .desc-features #numperson{width: 157px;}

.description  .descofapartment{
    position: absolute;
    top: 1257px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.description  .descofapartment .desc-head{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    width: 167px;
    height: 48px;
    vertical-align: middle;
    line-height: 160%;
}
.description  .descofapartment .desc-text{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    height: 128px;
    vertical-align: middle;
    line-height: 160%;
    color: #00000094;
}

.facilities{
    position: absolute;
    top: 1472px;
}


.description  .facilities .fac-head{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    width: 342px;
    height: 48px;
    vertical-align: middle;
    line-height: 160%;
}

ul.fac-list {
    position: relative;
    top: 20px;
    left: -1%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
}
ul.fac-list li{margin-right: 60px;}
ul.fac-list span{
    font-size: 20px;
    font-weight: 500;
    color: #00000094;
    line-height: 160%;
}
ul.fac-list li.checkmark{
    display: flex;
    height: 40px;
    gap: 3px;
    align-items: center;
}

ul.fac-list li.x{
    display: flex;
    align-items: center;
    position: relative;
    left: 3%;
    height: 32px;
    gap: 13px;
}


.rules-pref{
    position: absolute;
    top: 1758px
}

.description .rules-pref .rule-head{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    width: 1200px;
    height: 48px;
    vertical-align: middle;
    line-height: 160%;
}

.rules-pref ul.rule-list{
    position: relative;
    top: 20px;
    left: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 10px;

}

.rules-pref ul.rule-list li{
    font-size: 20px;
    font-weight: 500;
    padding-left: 23px;
    vertical-align: middle;
    color: #00000094;
    margin-right: 300px;

}

.rules-pref ul.rule-list li::marker{color: #222222;}

.documents-desc{
    width: 100%;
    height: 664px;
    position: absolute;
    top: 1991px;
    left: -1px;
    padding: 84px 10% 84px 10%;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 25px 0 #00000040;
}
.documents-desc .documents{
    display: flex;
    width: 100%;
    height: 496px;
    padding-right: 60px;
    gap: 60px;

}
.documents-desc .documents .doc-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.documents-desc .documents .doc-bottom{
    width: 100%;
    position: relative;
    top: 518px;
}
.doc-bottom .upload{
    position: relative;
    left: 28.5%;
    width: 176px;
    height: 56px;

    border-radius: 8px;
    border-width: 3px;
    padding: 10px 19px 10px 21px;
    gap: 8px;
    background-color: #FF5A30;
    border: 3px solid #FF5A30;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.doc-left #doc-text{
    display: flex;
    position: relative;
    top: -17px;
    width: 528px;
    height: 130px;
    line-height: 45px;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
    align-items: center;
    color: #000000;
    letter-spacing: -0.72px;
}


.doc-left .doc-btn{
    width: 485px;
    height: 148px;
    border-radius: 50px;
    padding: 17px 38px 17px 38px;
    gap: 11px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 4px 4px 25px 0 #00000040;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.doc-left #doc-btn1{
    position: relative;
    top: 10px;
}

.doc-left #doc-btn2{position: relative; top: 50px;}

.doc-btn .docbtn-t1{
    font-size: 25px;
    font-weight: 800;
    line-height: 45px;
    vertical-align: middle;
    text-align: left;
    letter-spacing: -0.72px;
    color: #000000;
}
.doc-btn .docbtn-t2{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    color: #000000;
}

.doc-right figure {
    position: relative;
    display: inline-block;
    width: 482px;
    height: 482px;
    background-color: #FF5A30;
    position: relative;
    top: -7.02px;
    left: 7.02px;
    z-index: 1;

  }

 .doc-right img {
    display: block;
    position: absolute;
    z-index: 2;
  }

  .location-desc{
    position: absolute;
    top: 2709px;
    /* left: 10%; */
    width: 100%;
    height: 800px;
    padding:0 10%;

  }
  .location-desc #map{
    width: 80vw;
    height: 700px;
    /* z-index: -1; */
  }
  /* .location-desc #map svg{
    z-index: 2;
  } */

  .location-desc div{width: 80%;}
  .location-desc div #loc-text{
    font-size: 35px;
    font-weight: 700;
    line-height: 160%;
    vertical-align: middle;
    text-align: left;

  }

  .location-desc .loc-img{
    display: flex;
    position: relative;
    top: 55px;
    left: 0;
  }
  .loc-img img{ display: block; max-width: 150%; height: auto;}

  .availability{
    position: absolute;
    top: 3558px;
    width: 100%;
    height: 752px;
    background-color: #2222221A;
    padding: 0 10%;
  }

  .availability .available-t{
    position: absolute;
    top: 48px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 160%;
    vertical-align: middle;
    color: #000000;
  }
  .availability div{
    position: absolute;
    top: 132px;
    height: 70px;
    width: 653.33px;
    gap: 4px;
    align-items: left;
  }

  .availability div .time-text{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    vertical-align: middle;
    text-align: left;
    color: #222222;
  }
  .availability div .date-text{
    width: 100%;
    font-size: 13.56px;
    font-weight: 400;
    line-height: 18px;
    vertical-align: middle;
    text-align: left;
    color: #6A6A6A;
  }

.availability .calendar-check{
    width:30%;
    min-width: 280px;
    max-width: 100%;
    height: 444px;
    gap: 10px;
    /* padding: 24px; */
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.availability .calendar-check .cal-components{
    position: relative;
    width: 90%;
    gap: 12px;
    height: 90%;
    position: absolute;
    top: 0px;
    margin: 4%;
}
.availability #cal-1{
    top: 202px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.availability #cal-2{
    top: 202px;
    left: 60%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.cal-components .cal-header{
    position: relative;
    top: 0;
    left: 0;
    height: 44px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;

}
.availability #cal-1 button#prevmonth {
    position: absolute;
    left: 10px;
    width: 44px;
    height: 44px;
    border-radius: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px 0px  #000E330D;
    border-color: transparent;

}
.availability #cal-2 button#nextmonth{
    position: absolute;
    right: 20px;
    width: 44px;
    height: 44px;
    border-radius: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px 0px  #000E330D;
    border-color: transparent;
}

.cal-components .w-days {
  position: relative;
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 5%;
  margin-bottom: 8px;
  top: 10px;

}

.cal-components .w-days div{
    position: relative;
    width: 44px;
    height: 30px;
    top: 0px;


    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    color: #1F1F1F;

    font-family: 'Lexend';

    line-height: 100%;
    letter-spacing: 0%;
    justify-content: center;
    align-items: center;


}
.cal-components .cal-header .month-year-div{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    top: 0px;

    gap: 10px;
    justify-content: center;
    align-items: center;

}
select.month-year{
    height: 44px;
    border-radius: 6px;
    padding: 10px 12px 10px 12px;
    font-size: 20px;
    font-family: 'Lexend';
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 100%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px 0px #000E330D;
    border-color: transparent;
}
select#month-c1, select#month-c2{
    width: 140px;
}
select#year-c1, select#year-c2{
    width: 90px;
}

select.month-year::after{
    color: #000000;
}



.cal-components .cal-dates{
    position: relative;
    width: 90%;
    height: auto;
    top: 10px;
    left: 3%;
    right: 5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: #000000;
}
.cal-dates .date{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 5%;
    border-radius: 6px;
    font-size: 13px;
    height: 44px;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center

}

.cal-dates .date{
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px 0px #000E330D;
    cursor: pointer;

}
.cal-dates .date.today{
    border: 2px solid #0047FF;
}
.cal-dates .date:hover {
    background:gray;
  }

.cal-dates .date.inactive{
    color: #6A6A6A;
    pointer-events: none;
}
.cal-dates .date.inactive.in-range{
    pointer-events: none;
    background-color: #0047FF0D;
    color: #0047FF;
}
.cal-dates .date.range-start,.cal-dates .date.range-end  {
    background-color: #022442;
    color: white;
    box-shadow: 0px 3px 2px 0px #0047FF33;
    box-shadow: 0px 1.5px 1px 0px #001F7040;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;


}

.cal-dates .date.in-range {
    background-color: #D8E3FF;
    border-radius: 0px;

}
.cal-dates .date.unavailable{
    text-decoration: line-through;
    pointer-events: none;
}
button#check-dates{
    position: relative;
    width: 20%;
    height: 44px;
    top: 105%;
    left: 80%;
    border-radius: 4px;
    padding: 0 16px;
    background-color: #FF5A30;
    border-color: transparent;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.availability img{
    position: relative;
    width: 264.3084716796875;
    height: 263;
    top: 250px;

}

.sim-places{
    position: absolute;
    top: 4340px;
}


.clients{
    position: relative;
    width: 100%;
    height: 802.98px;
    margin-top: 50px;
    z-index: 2;
    top: 3500px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(2, 3, 59, 0.61) 6.4%, #000000 100%);
}
.clients .question-p{
    width: 563.4187622070312;
    height: 45;
    position: relative;
    top: 106px;
    /* left: 466px; */
    font-family: Inter;
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.72px;
    vertical-align: middle;
    color: #FFFFFF;
}

.clients .commentsofclients{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 848px 0px 0px;

    position: absolute;
    width: 2096px;
    height: 305.98px;
    left: calc(50% - 2096px/2 - 424px);
    top: 243px;
}
.clients .commentsofclients div {
    /* div */

    width: 1248px;
    height: 305.98px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


}
.clients .commentsofclients div .comment-row {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 2096px;
    height: 306px;
    left: 424px;
    top: 0px;

    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;



}


.clients .commentsofclients .comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 306px;
    gap: 24px;
    border-radius: 48px;
    padding: 36px;
    background-color: #FFFFFF;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.1);

}

.comment .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 318.79px;
    /* height: 80px; */
    text-align: left;

}
.comment .username{
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    position: relative;
    width: 120px;
    height: 20px;
    text-align: left;

}
#clients-bottom{

position: absolute;
width: 100%;
height: 95px;
left: 96px;
top: 623.98px;

}
#clients-bottom rect{

    position: absolute;
    width: 100%;
    height: 106px;
    left: -95px;
    top: 19.02px;

    background: #D9D9D9;

}
#clients-bottom div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5%;

    position: relative;
    width: 117.5%;
    height: 65px;
    left: -16.5%;
    top: 40px;


}
.hero-section{
    position: relative;
    top: 3500px;
}

.feedback-section{
    position: relative;
    top: 3550px;
}


.footer{
    position: relative;
    top: 3600px;
    width: 100%;
}

@media screen and (max-width: 1440px) {
  .availability .calendar-check {
    height: 50%;
  }
  .cal-dates .date {
    font-size: 12px;
    height: 35px;
    margin: 0 5%;
    padding: 0px;
 }
  .cal-components .w-days div {
    font-size: 13px;
    padding: 5px 0;
    width: 90%;
    margin: 0;
  }
  .cal-components .w-days{
    width: 100%;
  }

  select#month-c1,
  select#month-c2 {
    width: 110px;
  }

  select#year-c1,
  select#year-c2 {
    width: 70px;
  }

  select.month-year {
    height: 36px;
    font-size: 14px;
    padding: 6px 10px;
  }
  button#check-dates{
    font-size: 12px;
    padding: 0px;
  }
}


