.feedback-section {
    width: 90%;
    max-width: 100%;
    height: auto;
    top: 200px;
    padding: 30px 20px;
  }

  .feedback-section h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .feedback-form {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .form-group {
    width: 200px;
  }

  .form-group.large {
    width: 400px;
  }

  .feedback-form input {
    font-size: 13px;
    padding: 12px;
  }

  .send-btn {
    padding: 0 20px;
    height: 45px;
    font-size: 15px;
  }

  .stars label {
    font-size: 26px;
  }
