* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    text-align: center;
    background-color: #fafafa;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(19, 18, 18, 0.85);
    color: white;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    gap: 20px;
}

.logo img {
    width: 100px; 
    height: auto;
    filter: invert(37%) sepia(85%) saturate(3291%) hue-rotate(354deg) brightness(100%) contrast(101%);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: auto; 
    padding-left: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FF5A30;
}

.landlord-btn {
    background: #FF5A30;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s ease;
}

.landlord-btn:hover {
    background: #FF5A30;
}
.language-container {
    position: relative;
    display: inline-block;
}

.language-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    color: white;
}

.language-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 120px;
    display: flex;
    flex-direction: column;
}

.language-dropdown a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
    font-size: 16px;
}

.language-dropdown a i {
    font-size: 18px;
}

.language-dropdown a:hover {
    background: #FF5A30;
    color: white;
}

.hidden {
    display: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url('img/main1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 80px; 
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    width: fit-content;
    margin-left: -80px;

}
.title {
    color: white;
    font-size: 3rem;
    position: relative;
    text-align: left;
    z-index: 1;
    
}

.highlight {
    color: #FF5A30;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 12px 20px;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    z-index: 1;
    max-width: 1200px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex: 1; 
    border: none;
    padding: 12px 15px;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; 
    color: rgb(60, 58, 58);
}


.pagination {
    position: absolute;
    bottom: 30px;
    display: flex;
    z-index: 1;
}

.pagination span {
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

.pagination .active {
    font-weight: bold;
}

.about-us {
    padding: 4ch 0;
    background-color: #fff;
    
}
.about-us .container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
}
.about-us h2 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 30px;
}
.about-content {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.left-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  
/* Cards */
.about-card {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    gap: 15px;
    position: relative;
    flex-direction: column; 
    align-items: center;    
}
  
.card-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.about-card h3 {
    font-size: 1.2rem;
    margin: 0;
}
  
/* Convenience */
.convenience {
    background: url("img/conv.jpg") no-repeat center/cover; 
    border: none; 
    min-height: 100px;
    display: flex;
    align-items: stretch;
    padding: 0;
}
.card-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 15px;
    padding: 20px;
    border-radius: 8px; 
}
  
.right-video {
    position: relative;
    width: 100%;
    max-width: 800px;  
    margin: 20px auto; 
    position: relative; 
    top: -20px;  
}
  
.video-content {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    overflow: hidden;
    border-radius: 12px;
    background-color: #000; 
}
  
.video-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.announcements {
    background-color: #fafafa;
    padding: 50px 0;
    text-align: center;
}
.announcements h2 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
}

.card:hover .card-hover {
    opacity: 1;
}

.view-project {
    display: inline-block;
    background: #FF5A30;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.view-project:hover {
    background: #FF5A30;
}

.how-we-work {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url('img/wework.jpg') center/cover no-repeat;
    color: white;
    padding: 100px 0;
    text-align: center;

}

.how-we-work h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.step {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    width: 18%;
    text-align: center;
    transition: 0.3s;
}

.step:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-5px);
}

.step-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffffff; 
  }

.step-number {
    font-size: 22px;
    color: #FFFFFF;
    font-style: italic;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin: 10px 0;
}

p {
    font-size: 14px;
}

.cta-button {
    margin-top: 30px;
    background: #FF5A30;
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.cta-button:hover {
    background: #FF5A30;
    transform: scale(1.05);
}

.faq {
    max-width: 1180px;
    margin: 50px auto;
    background: white;
    padding: 30px;

}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.faq-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 40px;
    justify-content: space-between;
}

.faq-number {
    font-size: 47px;
    color: #FF5A30;
    font-weight: 700;
    flex-shrink: 0;
    width: 60px;
}


.faq-content-container {
    flex: 1;
    text-align: left;
  }

  .faq-content-container h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-align: left;
  }

  .faq-content {
    display: none;
    font-size: 20px;
    color: #3C3C43D9;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .faq-item.active .faq-content {
    display: block;
  }

  .faq-toggle {
    margin-left: auto;
    font-size: 24px;
    background: #f5f5f5;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

.faq-item.active .faq-toggle {
    background: #000;
    color: white;
}

.team-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    color: white;
    min-height: 50vh;
}

.team-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh; 
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url('img/team.png') center/cover no-repeat;
    z-index: -1;
}

.team-section .section-header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.team-section .section-header h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.team-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    padding: 10px 0;
}

.team-container::before {
    content: "";
    width: 100%;
    height: calc(50% + 100px); 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6),);
    z-index: -1;
}

.profile-card {
    background: white;
    overflow: hidden;
    text-align: center;
    width: 340px;
    height: 440px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.profile-image {
    background: white;
    padding: 15px;
}

.profile-image img {
    width: 100%;
    height: 195px;
    object-fit: cover;
}

.profile-content {
    padding: 20px;
    text-align: left;
}

.profile-content p {
    font-size: 20px;
    color: #333;
    margin-bottom: 25px;
}

.profile-content .name {
    font-weight: bold;
    font-size: 20px;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 400px; 
    margin-top: -50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('img/feedback.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 80%;
}

.hero-content h2 {
    color: white;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4;
}

.feedback-section {
    background: #FFFFFF;
    margin: 80px auto;
    border-radius: 2px;
    max-width: 1200px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .feedback-section h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #1E212C;
  }

  .feedback-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: left;
  }

  .form-group.large {
    width: 450px;
  }

  label {
    font-weight: 400;
    color: #424551;
    margin-bottom: 8px;
    font-size: 15px;
  }

  .feedback-form input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #D7DADD;
    border-radius: 6px;
    background: #F4F5F6;
    transition: border 0.2s;
    height: 50px;
  }

  .feedback-form input:focus {
    border-color: #888;
    outline: none;
  }

  .send-btn {
    background: #FF5A30;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0 30px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
  }

  .send-btn:hover {
    background: #FF5A30;
  }

  .stars {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: row-reverse;
  }

  .stars input {
    display: none;
  }

  .stars label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
  }

  .stars input:checked ~ label,
  .stars input:hover ~ label {
    color: #FF5A30;
  }

.review-form input, .review-form button {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.review-form input {
    width: 320px;
    flex: 1;
}

.review-form button {
    background: #FF5A30;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.review-form button:hover {
    background: #FF5A30;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
}

.footer {
    background-color: #000815; 
    color: #ddd;
    font-size: 14px;
    font-family: Ubuntu;
  }
  
.footer-top,
.footer-mid,
.footer-bottom {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer-left {
    flex: 1 1 400px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.logo-and-icons {
    display: flex;
    align-items: center;
    gap: 290px;  
}
  
.footer-logo img {
    width: 150px; 
    height: auto;
    display: block;
    margin: 0;
 }
  
.logo-icons {
    display: flex;
    gap: 20px;
 }
  
.logo-icons a {
    color: #c2bfbf;         
    font-size: 20px;     
    transition: color 0.3s;
}
  
.logo-icons a:hover {
    color: #ff5a30;      
}
  
.footer-left .footer-logo img {
    width: 120px;
    height: auto;
    display: block;
    margin-bottom: 10px;
    filter: invert(37%) sepia(85%) saturate(3291%) hue-rotate(354deg) brightness(100%) contrast(101%);
}
  
.footer-description {
    max-width: 610px;
    text-align: left;      
    margin: 0;             
    padding: 0;        
    line-height: 1.6;
    font-size: 16px;
}
  
.footer-right {
    flex: 1 1 300px;
}
  
.stay-in-touch {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; 
    margin-top: 20px;
}
  
.stay-in-touch h2 {
    margin: 0;
    font-size: 24px;  
    color: #fff;
}
  
.subscribe-form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.subscribe-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
}

.subscribe-form input::placeholder {
    color: #888;
}

.subscribe-form button {
    background-color: #ff5a30;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.subscribe-form button:hover {
    background-color: #e64a19;
}
  
.subscribe-info {
    margin-top: 20px;   
    text-align: left;
    font-size: 16px;
    color: #aaa;
}
  
.footer-mid {
    display: flex;
    justify-content: flex-start; 
    gap: 100px; 
}
  
.footer-col {
    text-align: left;
}
 
.footer-col h3 {
    margin-bottom: 10px; 
    color: #fff; 
}
  
.footer-col p {
    margin: 5px 0; 
    color: #888;
    font-size: 16px; 
}
  
.footer-col p span {
    font-weight: bold; 
    color: #ffffff;
}

.footer-col p a {
    color: #888; 
    text-decoration: none;
}
  
.footer-col p a:hover {
    text-decoration: underline; 
}

.footer-bottom {
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.footer-bottom p {
    margin: 0;
    color: #888;
    font-size: 13px;
}
  
.go-top-group {
    display: flex;
    align-items: center;
    gap: 10px; 
}
  
.go-top-text {
    font-size: 14px;
    color: #fff;
}
  
.go-top {
    background-color: #ff5a30;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}
  
.go-top:hover {
    background-color: #e64a19;
}
  
.go-top i {
    font-size: 16px;
}
  
  
@media (max-width: 768px) {
        * {
            box-sizing: border-box;
        }
    
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow-x: hidden;
        }
    
        .container {
            width: 100%;
            padding: 0 15px; 
        }
    
        .content {
            margin: 0 auto; 
            max-width: 100%;
        }
    
        .cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
            gap: 10px;
        }
    
        .card {
            width: 100%;
        }
         .navbar {
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
    
        .nav-links {
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
    
        .hero {
            height: auto;
            padding: 150px 20px;
        }
    
        .title {
            font-size: 2rem;
            text-align: center;
        }
    
        .content {
            margin-left: 0;
            text-align: center;
            width: 100%;
        }
    
        .search-bar {
            flex-direction: row;
            width: 60%;
            height: 30%;
            padding: 10px;
            justify-content: center;
            margin: 0 auto;
        }
    
        .search-bar input {
            width: 100%;
            margin-bottom: 10px;
        }
  
        .about-content {
            flex-direction: column;
            align-items: center;
        }

        .left-cards {
            width: 50%;
            flex-direction: row;
            align-items: center;

        }
    
        .cards-container {
            grid-template-columns: repeat(2, 1fr);
        }
    
        .steps {
            flex-direction: row;
            align-items: center;
        }
    
        .step {
            width: 40%;
        }
    
        .card img {
            height: 250px;
        }
    
        .right-video {
            max-width: 100%;
        }

        .footer-top,
        .footer-mid,
        .footer-bottom {
            flex-direction: row;
        }
  
        .footer-right {
            margin-top: 20px;
        }
  
        .footer-mid .footer-col {
            margin-top: 20px;
        }
  
        .go-top {
            margin-top: 20px;
        }
  }
 
  @media (max-width: 414px) {
    * {
        box-sizing: border-box;
    }

    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        padding: 0 10px; 
    }

    .content {
        margin: 0 auto;
        max-width: 100%;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px;
    }

    .card {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero {
        height: auto;
        padding: 100px 15px;
    }

    .title {
        font-size: 1.8rem;
        text-align: center;
    }

    .content {
        text-align: center;
        width: 100%;
    }

    .search-bar {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
    }

    .search-bar input {
        width: 100%;
        margin-bottom: 10px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        width: 100%;
    }

    .card img {
        height: 100px;
    }

    .right-video {
        max-width: 100%;
    }

    .footer-top,
    .footer-mid,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-right {
        margin-top: 10px;
        text-align: center;
    }

    .footer-mid .footer-col {
        margin-top: 10px;
        text-align: center;
    }

    .go-top {
        margin-top: 10px;
    }
}
