        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;  
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        body {
            text-align: center;
            background-color: #ffff;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background: rgba(19, 18, 18, 0.85);
            color: white;
            width: 100%;
            position: fixed; 
            top: 0;
            left: 0;
            z-index: 1000;
            gap: 20px;
        }

        .logo img {
            width: 100px; 
            height: auto;
            filter: invert(37%) sepia(85%) saturate(3291%) hue-rotate(354deg) brightness(100%) contrast(101%);
        }

        .nav-links {
            list-style: none;
            display: flex;
            margin-right: auto; 
            padding-left: 0;
            gap: 27px;
        }

        .nav-links a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s ease;
        }

        .nav-links a:hover {
            color: #FF5A30;
        }

        .hero {
            width: 100%;
            height: 100vh;
           
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding-top: 80px; 
            text-align: center;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            transition: background-image 0.8s ease-in-out;
          
        }

        .content {
            position: relative;
            z-index: 3;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: left;
            width: fit-content;
            margin-left: -80px;

        }
        .title {
            color: white;
            font-size: 3rem;
            position: relative;
            text-align: left;
            z-index: 1;  
        }

        .highlight {
            color: #FF5A30;
        }

        .search-bar {
            display: flex;
            align-items: center;
            background: white;
            padding: 12px 20px;
            border-radius: 8px;
            position: relative;
            margin-top: 20px;
            z-index: 1;
            max-width: 1200px; 
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .search-bar input {
            flex: 1; 
            border: none;
            padding: 12px 15px;
            outline: none;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            border-radius: 20px;
        }

        .search-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 20px; 
            color: rgb(60, 58, 58);
        }
          
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); 
            z-index: 2;
        }
    
        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-color: rgba(0, 0, 0, 0.6);
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease;
            z-index: 1;
        }

        .slide.current-slide {
            opacity: 1;
            z-index: 2;
        }
          
        .pagination {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            z-index: 4;
        }
          
        .pagination span {
            color: white;
            margin: 0 10px;
            font-weight: normal;
            cursor: pointer;
            transition: all 0.3s ease;
        }
          
        .pagination .active {
            font-weight: bold;
            transform: scale(1.2);
        }
          
        .about-us {
            padding: 4ch 0;
            background-color: #fff;
            
        }
        .about-us .container {
            max-width: 1240px; 
            margin: 0 auto;
            padding: 0 20px;
        }
        .about-us h2 {
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 30px;
        }
        .about-content {
            display: flex;
            flex-wrap: wrap; 
            gap: 20px;
        }

        .left-cards {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        
        /* Cards */
        .about-card {
            background-color: #fff;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
            border-radius: 1px;
            border: 1px solid #E5E8ED;
            padding: 20px;
            display: flex;
            gap: 4px;
            position: relative;
            flex-direction: column; 
            align-items: center;    
        }
        
        .card-icon {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .about-card h3 {
            font-size: 1.2rem;
            margin: 0;
        }
        
        /* Convenience */
        .convenience {
            background: url("img/conv.jpg") no-repeat center/cover; 
            border: none; 
            min-height: 100px;
            display: flex;
            align-items: stretch;
            padding: 0;
        }
        .card-overlay {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            flex: 1;
            display: flex;
            flex-direction: column; 
            align-items: center;   
            gap: 15px;
            padding: 20px;
        }
        
        .right-video {
            position: relative;
            width: 100%;
            max-width: 800px;  
            margin: 20px auto; 
            position: relative; 
            top: -20px;  
        }
        
        .video-content {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; 
            overflow: hidden;
            border-radius: 5px;
            background-color: #000; 
        }
        
        .video-content iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }

        .announcements {
            padding: 30px 0;
            text-align: center;
        }
        .announcements h2 {
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 30px;
        }
        .cards-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 2%; 
            justify-content: center;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            margin-bottom: 100px;
        }

        .card {
            position: relative;
            overflow: hidden;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 480px;
        }

        .card img {
            width: 100%;
            height: 380px;
            object-fit: cover;
            display: block;
            z-index: 1;
        }

        .card .heart-icon {
            position: absolute;
            top: 10px;  
            right: 10px;
            font-size: 24px;
            cursor: pointer;
            z-index: 3;
        }

        .active {
            fill: #FF5A30;
        }

        .card-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .card-info h3 {
            color: #1E212C;
            font-size: 20px;
            font-weight: 700;
        }
        .card-info p {
            color: #787A80;
            font-size: 16px;
            font-weight: 400;
        }

        .card-hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            padding: 20px;
            text-align: center;
            z-index: 2;
        }

        .card-hover p {
            font-size: 17px;
        }

        .card:hover .card-hover {
            opacity: 1;
        }

        .card-hover button {
            background-color: #FF5A30;
            border-radius: 8px;
            width: 160px;
            height: 55px;
            padding: 14px 16px 14px 16px;
            margin: 10px 0;
        }
        .card-hover .view-details {
            text-decoration: none;
            color: #FFFFFF;
            width: 121px;
            height: 24px;
            font-size: 20px;
        }

        .how-we-work {
            position: relative;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                        url('img/wework.jpg') center/cover no-repeat;
            color: white;
            padding: 60px 0;
            text-align: center;
        }

        .how-we-work h2 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .steps {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .step {
            padding: 20px;
            border-radius: 10px;
            width: 18%;
            text-align: center;
            transition: 0.3s;
        }

        .step-icon {
            font-size: 2rem;
            margin-bottom: 10px;
            color: #ffffff; 
        }

        .step-number {
            font-size: 22px;
            color: #FFFFFF;
            font-style: italic;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 18px;
            margin: 10px 0;
        }

        p {
            font-size: 16px;
        }

        .cta-button {
            margin-top: 30px;
            background: #FF5A30;
            color: white;
            font-size: 18px;
            font-weight: 600;
            padding: 12px 25px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }

        .cta-button:hover {
            background: #FF5A30;
            transform: scale(1.05);
        }

        .faq {
            max-width: 1180px;
            margin: 50px auto;
            background: white;
            padding: 30px;
        }

        .faq-item {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        .faq-header {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 40px;
            justify-content: space-between;
        }

        .faq-number {
            font-size: 45px;
            color: #FF5A30;
            font-weight: 700;
            flex-shrink: 0;
            width: 60px;
        }

        .faq-content-container {
            flex: 1;
            text-align: left;
        }

        .faq-content-container h3 {
            font-size: 22px;
            font-weight: bold;
            margin: 10px 0 10px 0;
            text-align: left;
        }

        .faq-content {
            display: none;
            font-size: 18px;
            color: #3C3C43D9;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .faq-item.active .faq-content {
            display: block;
        }

        .faq-toggle {
            margin-left: auto;
            font-size: 24px;
            background: #f5f5f5;
            border: none;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            cursor: pointer;
        }

        .faq-item.active .faq-toggle {
            background: #000;
            color: white;
        }

        .team-section {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px 0;
            color: white;
            min-height: 50vh;
        }

        .team-section::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60vh; 
            background: 
                linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('img/team.png') center/cover no-repeat;
            z-index: -1;
        }

        .team-section .section-header {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }

        .team-section .section-header h2 {
            font-size: 2rem;
            text-align: center;
            color: white;
        }

        .team-container {
            display: flex;
            gap: 50px;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            padding: 10px 0;
        }

        .team-container::before {
            content: "";
            width: 100%;
            height: calc(50% + 100px); 
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6),);
            z-index: -1;
        }

        .profile-card {
            background: white;
            overflow: hidden;
            text-align: center;
            width: 340px;
            height: 440px;
            padding-bottom: 20px;
            position: relative;
            z-index: 1;
            box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
        }

        .profile-image {
            background: white;
            padding: 15px;
        }

        .profile-image img {
            width: 100%;
            height: 195px;
            object-fit: cover;
        }

        .profile-content {
            padding: 20px;
            text-align: left;
        }

        .profile-content p {
            font-size: 20px;
            color: #333;
            margin-bottom: 25px;
        }

        .profile-content .name {
            font-weight: bold;
            font-size: 20px;
        }

        .hero-section {
            position: relative;
            width: 100%;
            height: 400px; 
            margin-top: -50px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
            url('img/feedback.png') center/cover no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6); 
        }

        .hero-content {
            position: relative;
            z-index: 2;
            max-width: 80%;
        }

        .hero-content h2 {
            color: white;
            font-size: 26px;
            font-weight: bold;
            line-height: 1.4;
        }

        .feedback-section {
            margin: 10px auto 40px;
            border-radius: 2px;
            max-width: 1200px;
            box-shadow: 0 10px 22px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 30px; 
            box-sizing: border-box;
        }
        
        .feedback-section h2 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 50px;
            color: #1E212C;
        }
        
        .feedback-form {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 20px;
            flex-shrink: 0;
        }
        
        .form-group {
            display: flex;
            flex-direction: column;
            width: 300px;
            text-align: left;
            margin-bottom: 0;
        }
        
        .feedback-form input,
        .feedback-form textarea {
            padding: 15px;
            font-size: 16px;
            border: 1px solid #D7DADD;
            border-radius: 6px;
            background: #F4F5F6;
            transition: border 0.2s;
            box-sizing: border-box;
            width: 100%;
            font-family: inherit;
            font-size: 16px;
        }
        
        .feedback-form input {
            height: 50px;
        }
    
        .feedback-form textarea {
            height: 50px;
            resize: none;
            overflow-y: auto;
            line-height: 1.5;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
        
        .feedback-form textarea:focus {
            overflow-y: auto;
        }
        
        .send-btn {
            background: #FF5A30;
            color: white;
            border: none;
            border-radius: 6px;
            padding: 0 30px;
            height: 50px;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
            align-self: flex-end;
        }
        
        .stars {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
            flex-direction: row-reverse;
        }
        
        .stars input {
            display: none;
        }
        
        .stars label {
            font-size: 30px;
            color: #ccc;
            cursor: pointer;
        }
        
        .stars input:checked ~ label,
        .stars input:hover ~ label {
            color: #FF5A30;
        }
        
        footer {
            background-color: #000815; 
            color: #ddd;
            font-size: 16px;
        }
        
        .footer-top,
        .footer-mid,
        .footer-bottom {
            max-width: 1400px;
            margin: 0 auto;
            padding: 20px 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .footer-left {
            flex: 1 1 400px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        
        .logo-and-icons {
            display: flex;
            align-items: center;
            gap: 270px;  
        }
        
        .footer-logo img {
            width: 150px; 
            height: auto;
            display: block;
            margin: 0;
        }
        
        .logo-icons {
            display: flex;
            gap: 20px;
        }
        
        .logo-icons a {
            color: #c2bfbf;         
            font-size: 25px;     
            transition: color 0.3s;
        }
        
        .logo-icons a:hover {
            color: #ff5a30;      
        }
        
        .footer-left .footer-logo img {
            width: 120px;
            height: auto;
            display: block;
            margin-bottom: 10px;
            filter: invert(37%) sepia(85%) saturate(3291%) hue-rotate(354deg) brightness(100%) contrast(101%);
        }
        
        .footer-description {
            max-width: 610px;
            text-align: left;      
            margin: 0;             
            padding: 0;        
            line-height: 1.6;
            font-size: 18px;
        }
        
        .footer-right {
             flex: 1 1 300px;
        }
        
        .stay-in-touch {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px; 
            margin-top: 20px;
        }
        
        .stay-in-touch h2 {
            margin: 0;
            font-size: 24px;  
            color: #fff;
        }
        
        .subscribe-form {
            display: flex;
            margin-top: 10px;
        }

        .subscribe-form input {
            flex: 1;
            padding: 10px;
            border: 1px solid #333;
            border-radius: 4px;
            background-color: #222;
            color: #fff;
        }
        .subscribe-form input::placeholder {
            color: #888;
            font-size: 16px;
        }
        .subscribe-form button {
            background-color: #ff5a30;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            padding: 0 16px;
            color: #fff;
            cursor: pointer;
            transition: background 0.3s;
        }
        .subscribe-form button:hover {
             background-color: #e64a19;
        }
        
        .subscribe-info {
            margin-top: 20px;   
            text-align: left;
            font-size: 16px;
            color: #aaa;
        }
        
        .footer-mid {
            display: flex;
            justify-content: flex-start; 
            gap: 90px; 
        }
        
        .footer-col {
            text-align: left;
        }
        
        .footer-col h3 {
            margin-bottom: 10px;
            color: #fff; 
        }
        
        .footer-col p {
            margin: 5px 0; 
            color: #888;
            font-size: 17px; 
        }
        
        .footer-col p span {
            font-weight: bold;
            color: #ffffff;
        }
    
        .footer-col p a {
            color: #888; 
            text-decoration: none;
        }
        
        .footer-col p a:hover {
            text-decoration: underline; 
        }
    
        .footer-bottom {
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .footer-bottom p {
            color: #888;
            font-size: 13px;
        }
        
        .go-top-group {
            display: flex;
            align-items: center;
            gap: 10px; 
        }
        
        .go-top-text {
            font-size: 16px;
            color: #fff;
        }
        
        .go-top {
            background-color: #ff5a30;
            color: #fff;
            border: none;
            padding: 8px 12px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s;
        }
        
        .go-top:hover {
            background-color: #e64a19;
        }

        html {
            scroll-behavior: smooth;
        }

@media (max-width: 768px) {
        .navbar {
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
    
        .nav-links {
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .nav-links a {
            font-size: 14px;
        }
    
        .hero {
            height: auto;
            padding: 150px 20px;
        }
    
        .title {
            font-size: 1.75rem;
            text-align: center;
        }
    
        .content {
            margin-left: 0;
            text-align: center;
            width: 100%;
        }
    
        .search-bar {
            flex-direction: row;
            width: 55%;
            height: 20%;
            padding: 10px;
            justify-content: center;
            margin: 0 auto;
        }
    
        .search-bar input {
            width: 100%;
            margin-bottom: 10px;
        }

        .about-card {
            height: 40%;
        }
        .about-content {
            flex-direction: column;
            align-items: center;
        }

        .left-cards {
            width: 50%;
            flex-direction: row;
            align-items: center;
            margin-left: -15%;
        }

        .right-video {
            width: 70%;
        }
    
        .cards-container {
            grid-template-columns: repeat(3, 1fr);
            width: 90%;;
        }
    
        .card {
            height: 310px;
        }
    
        .card img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            display: block;
        }
        .card-info {
           gap: 5px;
        }
        .card-info h3 {
            font-size: 18px;
        }
        .card-info p {
            font-size: 14px;
        }
    
        .how-we-work h2 {
            font-size: 28px;
        }
        
        .steps {
            gap: 10px;
        }
        
        .step-icon {
            font-size: 1.7rem;
            margin-bottom: 10px;
            color: #ffffff; 
          }
        
        .step-number {
            font-size: 18px;
        }

        .team-section .section-header h2 {
            font-size: 1.8rem;
        }

        .team-container {
            gap: 30px;
            width: 100%;
            padding: 8px 0;
        }

        .profile-card {
            width: 210px;
            height: 390px;
            padding-bottom: 20px;
            position: relative;
            z-index: 1;
            box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
        }

        .profile-image img {
            width: 100%;
            height: 170px;
        }

        .profile-content p {
            font-size: 14px;
        }

        .profile-content .name {
            font-size: 18px;
        }

        .feedback-section {
            max-width: 90%;
        }

        .feedback-section h2 {
            font-size: 24px;
        }

        .form-group {
            width: 40%;
            text-align: left;
        }

        .form-group.large {
            width: 70%;
        }

        label {
            font-weight: 400;
            color: #424551;
            margin-bottom: 8px;
            font-size: 12px;
        }

        .send-btn {
            font-size: 14px;
        }
        .footer-top,
        .footer-mid,
        .footer-bottom {
          flex-direction: row;
        }
        .footer-description { 
            font-size: 16px;
        }
      
        .footer-right {
          margin-top: 20px;
        }
        .stay-in-touch h2 { 
            font-size: 22px;
        }
        .subscribe-form {
          width: 80%;
        }
        .subscribe-form input {
          flex: 1;
          padding: 10px;
          border: 1px solid #333;
          border-radius: 4px;
          background-color: #222;
          color: #fff;
        }
    }

  
