{% load static %}
<link rel="stylesheet" href="{% static 'vendor/login.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        .back-btn {
            background: none;
            border: none;
            font-size: 16px;
            cursor: pointer;
            color: #FF5722;
            margin-bottom: 10px;
        }
        .error-message {
            color: red; /* Делает текст красным */
            font-size: 16px;
            margin-top: 10px;
        }

        .errorlist {
            color: red; /* Цвет текста ошибок для конкретных полей формы */
        }
    </style>
</head>
<body>
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <button class="back-btn" onclick="goBack()">← Back</button>
            <h2>Log in</h2>
            <form method="POST" action="{% url 'users:login' %}">
                {% csrf_token %}

                <!-- Display form errors (if any) -->
                {% if messages %}
                    <div class="error-message">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Username Field -->
                {{ form.username }}
                {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <!-- Password Field -->
                {{ form.password }}
                {% if form.password.errors %}
                    <ul class="errorlist">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <button class="continue-btn" type="submit">Log in</button>
            </form>
            <a href="{% url 'users:password_reset_request' %}" class="forgot-password">Forgot your password?</a>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>


</html>
